@model IEnumerable<MVC23.Models.VehiculoModelo>

@{
    ViewData["Title"] = "Busqueda";
}

<h1>Busqueda</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="get">
    <input type="search" id="cadena" name="cadena" placeholder="Filtro de matricula" value="@ViewBag.cadena"/>
    <input type="submit" value="Buscar" />

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.NomSerie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
